* {
    box-sizing: border-box;
}

#header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#header-img {
    max-height: 15px;
    max-width: 30px;
}


@media only screen and (max-width: 600px) {
    body{
        background-color: red;
    }
}


